<%= content_for :title do %>
    <%= @post.title %> - MiBlog
<% end %>

<h2 class="post_title"><%= @post.title %></h2>
<div class="post_content"><%= @post.content %></div>

<ol id="comments_list">
  <%= render @post.comments %>
</ol>

<%= render 'comments/form' %>

